.vscode/settings.json
tests/tests-out/9.run-rc
tests/tests/1.run
tests/tests/2.run
tests/tests/3.run
tests/tests/4.run
tests/tests/5.run
tests/tests/6.run
tests/tests/7.run
tests/tests/8.run
tests/tests/9.run
tests/tests-out/1.err
tests/tests-out/1.out
tests/tests-out/1.pre-rc
tests/tests-out/1.run-rc
tests/tests-out/2.err
tests/tests-out/2.out
tests/tests-out/2.pre-rc
tests/tests-out/2.run-rc
tests/tests-out/3.err
tests/tests-out/3.out
tests/tests-out/3.pre-rc
tests/tests-out/3.run-rc
tests/tests-out/4.err
tests/tests-out/4.out
tests/tests-out/4.pre-rc
tests/tests-out/4.run-rc
tests/tests-out/5.err
tests/tests-out/5.out
tests/tests-out/5.pre-rc
tests/tests-out/5.run-rc
tests/tests-out/6.err
tests/tests-out/6.out
tests/tests-out/6.pre-rc
tests/tests-out/6.run-rc
tests/tests-out/7.err
tests/tests-out/7.out
tests/tests-out/7.pre-rc
tests/tests-out/7.run-rc
tests/tests-out/8.err
tests/tests-out/8.out
tests/tests-out/8.pre-rc
tests/tests-out/8.run-rc
tests/tests-out/9.err
tests/tests-out/9.out
tests/tests-out/9.pre-rc
tests/tests/1.run
tests/tests/2.run
tests/tests/3.run
tests/tests/4.run
tests/tests/5.run
tests/tests/6.run
tests/tests/7.run
tests/tests/8.run
tests/tests/9.run
tests/tests/1.run
tests/tests/2.run
tests/tests/3.run
tests/tests/4.run
tests/tests/5.run
tests/tests/6.run
tests/tests/7.run
tests/tests/8.run
tests/tests/9.run
tests/__pycache__/wfsverify.cpython-310.pyc
solution/mkfs
solution/wfs
solution/mkfs
solution/wfs
.gitignore
tests/tests/10.run
tests/tests-out/10.err
tests/tests-out/10.out
tests/tests-out/10.pre-rc
tests/tests-out/10.run-rc
tests/tests-out/.__afs2F95
solution/disk1.img
solution/disk2.img
tests/tests/13.run
tests/tests/14.run
tests/tests/15.run
tests/tests/16.run
tests/tests-out/11.out
tests/tests-out/11.run-rc
tests/tests-out/12.out
tests/tests-out/12.run-rc
tests/tests-out/13.err
tests/tests-out/13.out
tests/tests-out/13.pre-rc
tests/tests-out/13.run-rc
tests/tests-out/14.err
tests/tests-out/14.out
tests/tests-out/14.pre-rc
tests/tests-out/14.run-rc
tests/tests-out/15.err
tests/tests-out/15.out
tests/tests-out/15.pre-rc
tests/tests-out/15.run-rc
tests/tests-out/16.err
tests/tests-out/16.out
tests/tests-out/16.pre-rc
tests/tests-out/16.run-rc
solution/disk1.img
solution/disk2.img
tests/tests/13.run
tests/tests/14.run
tests/tests/15.run
tests/tests/16.run
tests/tests-out/11.out
tests/tests-out/11.run-rc
tests/tests-out/12.out
solution/disk1.img
solution/disk2.img
tests/tests/13.run
tests/tests/14.run
tests/tests/15.run
tests/tests/16.run
tests/tests/17.run
tests/tests/18.run
tests/tests/19.run
tests/tests/20.run
tests/tests/21.run
tests/tests/22.run
tests/tests/23.run
tests/tests/24.run
tests/tests/25.run
tests/tests-out/11.out
tests/tests-out/11.run-rc
tests/tests-out/12.out
tests/tests-out/17.err
tests/tests-out/17.out
tests/tests-out/17.pre-rc
tests/tests-out/17.run-rc
tests/tests-out/18.err
tests/tests-out/18.out
tests/tests-out/18.pre-rc
tests/tests-out/18.run-rc
tests/tests-out/19.err
tests/tests-out/19.out
tests/tests-out/19.pre-rc
tests/tests-out/19.run-rc
tests/tests-out/20.err
tests/tests-out/20.out
tests/tests-out/20.pre-rc
tests/tests-out/20.run-rc
tests/tests-out/21.err
tests/tests-out/21.out
tests/tests-out/21.pre-rc
tests/tests-out/21.run-rc
tests/tests-out/22.err
tests/tests-out/22.out
tests/tests-out/22.pre-rc
tests/tests-out/22.run-rc
tests/tests-out/23.err
tests/tests-out/23.out
tests/tests-out/23.pre-rc
tests/tests-out/23.run-rc
tests/tests-out/24.err
tests/tests-out/24.out
tests/tests-out/24.pre-rc
tests/tests-out/24.run-rc
tests/tests-out/25.err
tests/tests-out/25.out
tests/tests-out/25.pre-rc
tests/tests-out/25.run-rc
solution/disk1.img
solution/disk2.img
tests/tests/13.run
tests/tests/14.run
tests/tests/15.run
tests/tests/16.run
tests/tests/17.run
tests/tests/18.run
tests/tests/19.run
tests/tests/20.run
tests/tests/21.run
tests/tests/22.run
tests/tests/23.run
tests/tests/24.run
tests/tests/25.run
tests/tests-out/11.out
tests/tests-out/11.run-rc
tests/tests-out/12.out
tests/file1.test
tests/tests/13.run
tests/tests/14.run
tests/tests/15.run
tests/tests/16.run
tests/tests/17.run
tests/tests/18.run
tests/tests/19.run
tests/tests/20.run
tests/tests/21.run
tests/tests/22.run
tests/tests/23.run
tests/tests/24.run
tests/tests/25.run
tests/tests/26.run
tests/tests/27.run
tests/tests/28.run
tests/tests/29.run
tests/tests/30.run
tests/tests/31.run
tests/tests/32.run
tests/tests/33.run
tests/tests/34.run
tests/tests/35.run
tests/tests/36.run
tests/tests/37.run
tests/tests/38.run
tests/tests/39.run
tests/tests/40.run
tests/tests/41.run
tests/tests/42.run
tests/tests/43.run
tests/tests/44.run
tests/tests/45.run
tests/tests/46.run
tests/tests/47.run
tests/tests/48.run
tests/tests/49.run
tests/tests/50.run
tests/tests/51.run
tests/tests/52.run
tests/tests/53.run
tests/tests/54.run
tests/tests/55.run
tests/tests/56.run
tests/tests/57.run
tests/tests-out/11.out
tests/tests-out/11.run-rc
tests/tests-out/12.out
tests/tests-out/26.err
tests/tests-out/26.out
tests/tests-out/26.pre-rc
tests/tests-out/26.run-rc
tests/tests-out/27.err
tests/tests-out/27.out
tests/tests-out/27.pre-rc
tests/tests-out/27.run-rc
tests/tests-out/28.err
tests/tests-out/28.out
tests/tests-out/28.pre-rc
tests/tests-out/28.run-rc
tests/tests-out/29.err
tests/tests-out/29.out
tests/tests-out/29.pre-rc
tests/tests-out/29.run-rc
tests/tests-out/30.err
tests/tests-out/30.out
tests/tests-out/30.pre-rc
tests/tests-out/30.run-rc
tests/tests-out/31.err
tests/tests-out/31.out
tests/tests-out/31.pre-rc
tests/tests-out/31.run-rc
tests/tests-out/32.err
tests/tests-out/32.out
tests/tests-out/32.pre-rc
tests/tests-out/32.run-rc
tests/tests-out/33.err
tests/tests-out/33.out
tests/tests-out/33.pre-rc
tests/tests-out/33.run-rc
tests/tests-out/34.err
tests/tests-out/34.out
tests/tests-out/34.pre-rc
tests/tests-out/34.run-rc
tests/tests-out/35.err
tests/tests-out/35.out
tests/tests-out/35.pre-rc
tests/tests-out/35.run-rc
tests/tests-out/36.err
tests/tests-out/36.out
tests/tests-out/36.pre-rc
tests/tests-out/36.run-rc
tests/tests-out/37.err
tests/tests-out/37.out
tests/tests-out/37.pre-rc
tests/tests-out/37.run-rc
tests/tests-out/38.err
tests/tests-out/38.out
tests/tests-out/38.pre-rc
tests/tests-out/38.run-rc
tests/tests-out/39.err
tests/tests-out/39.out
tests/tests-out/39.pre-rc
tests/tests-out/39.run-rc
tests/tests-out/40.err
tests/tests-out/40.out
tests/tests-out/40.pre-rc
tests/tests-out/40.run-rc
tests/tests-out/41.err
tests/tests-out/41.out
tests/tests-out/41.pre-rc
tests/tests-out/41.run-rc
tests/tests-out/42.err
tests/tests-out/42.out
tests/tests-out/42.pre-rc
tests/tests-out/42.run-rc
tests/tests-out/43.err
tests/tests-out/43.out
tests/tests-out/43.pre-rc
tests/tests-out/43.run-rc
tests/tests-out/44.err
tests/tests-out/44.out
tests/tests-out/44.pre-rc
tests/tests-out/44.run-rc
tests/tests-out/45.err
tests/tests-out/45.out
tests/tests-out/45.pre-rc
tests/tests-out/45.run-rc
tests/tests-out/46.err
tests/tests-out/46.out
tests/tests-out/46.pre-rc
tests/tests-out/46.run-rc
tests/tests-out/47.err
tests/tests-out/47.out
tests/tests-out/47.pre-rc
tests/tests-out/47.run-rc
tests/tests-out/48.err
tests/tests-out/48.out
tests/tests-out/48.pre-rc
tests/tests-out/48.run-rc
tests/tests-out/49.err
tests/tests-out/49.out
tests/tests-out/49.pre-rc
tests/tests-out/49.run-rc
tests/tests-out/50.err
tests/tests-out/50.out
tests/tests-out/50.pre-rc
tests/tests-out/50.run-rc
tests/tests-out/51.err
tests/tests-out/51.out
tests/tests-out/51.pre-rc
tests/tests-out/51.run-rc
tests/tests-out/52.err
tests/tests-out/52.out
tests/tests-out/52.pre-rc
tests/tests-out/52.run-rc
tests/tests-out/53.err
tests/tests-out/53.out
tests/tests-out/53.pre-rc
tests/tests-out/53.run-rc
tests/tests-out/54.err
tests/tests-out/54.out
tests/tests-out/54.pre-rc
tests/tests-out/54.run-rc
tests/tests-out/55.err
tests/tests-out/55.out
tests/tests-out/55.pre-rc
tests/tests-out/55.run-rc
tests/tests-out/56.err
tests/tests-out/56.out
tests/tests-out/56.pre-rc
tests/tests-out/56.run-rc
tests/tests-out/57.err
tests/tests-out/57.out
tests/tests-out/57.pre-rc
tests/tests-out/57.run-rc
solution/.__afs6D88
