.vscode/settings.json
tests/tests-out/9.run-rc
tests/tests/1.run
tests/tests/2.run
tests/tests/3.run
tests/tests/4.run
tests/tests/5.run
tests/tests/6.run
tests/tests/7.run
tests/tests/8.run
tests/tests/9.run
tests/tests-out/1.err
tests/tests-out/1.out
tests/tests-out/1.pre-rc
tests/tests-out/1.run-rc
tests/tests-out/2.err
tests/tests-out/2.out
tests/tests-out/2.pre-rc
tests/tests-out/2.run-rc
tests/tests-out/3.err
tests/tests-out/3.out
tests/tests-out/3.pre-rc
tests/tests-out/3.run-rc
tests/tests-out/4.err
tests/tests-out/4.out
tests/tests-out/4.pre-rc
tests/tests-out/4.run-rc
tests/tests-out/5.err
tests/tests-out/5.out
tests/tests-out/5.pre-rc
tests/tests-out/5.run-rc
tests/tests-out/6.err
tests/tests-out/6.out
tests/tests-out/6.pre-rc
tests/tests-out/6.run-rc
tests/tests-out/7.err
tests/tests-out/7.out
tests/tests-out/7.pre-rc
tests/tests-out/7.run-rc
tests/tests-out/8.err
tests/tests-out/8.out
tests/tests-out/8.pre-rc
tests/tests-out/8.run-rc
tests/tests-out/9.err
tests/tests-out/9.out
tests/tests-out/9.pre-rc
tests/tests/1.run
tests/tests/2.run
tests/tests/3.run
tests/tests/4.run
tests/tests/5.run
tests/tests/6.run
tests/tests/7.run
tests/tests/8.run
tests/tests/9.run
tests/tests/1.run
tests/tests/2.run
tests/tests/3.run
tests/tests/4.run
tests/tests/5.run
tests/tests/6.run
tests/tests/7.run
tests/tests/8.run
tests/tests/9.run
tests/__pycache__/wfsverify.cpython-310.pyc
